@import url(https://fonts.googleapis.com/css?family=Nunito);html {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

body {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
input,
select,
option,
ul,
li,
label {
  font-family: "Nunito", sans-serif;
}

section {
  height: 100vh;
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  section {
    width: 100%;
    margin: 0 auto;
  }
}

.custom-control-label::before,
.custom-control-label::after {
  top: 40%;
}

.package__block--footer {
  margin: 30px auto 0 auto;
}

.package__block--footer p {
  margin-bottom: 0;
}

.invalid-feedback {
  display: block;
}

.error {
  color: red;
}

#dailyDiscountRedeemedForm .form-check-input {
  margin-top: 2.5rem;
}

@media (max-width: 767px) {
  #dailyDiscountRedeemedForm .form-check-input {
    margin-top: 0.4rem;
    margin-left: 1.5rem;
  }
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.input-group-append {
  display: none;
}

